@font-face {
    font-family: sanFran;
    src: url(./SF-UI-Display-Regular.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sanFran;
    font-size: 24px;
}

body {
    background-color: grey;
}

#calculator {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr 1fr;

    margin: auto;
    background-color: goldenrod;

    grid-template-areas:
        "display display display display"
        "mainInput mainInput mainInput mainInput"
        "mainInput mainInput mainInput mainInput"
        "mainInput mainInput mainInput mainInput"
        "mainInput mainInput mainInput mainInput"
        "mainInput mainInput mainInput mainInput";

    grid-gap: 0.2rem;
}

#display {
    background-color: royalblue;
    grid-area: display;
    font-size: 6.6em;
    padding-right: 7vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
}

#mainInput {
    background-color: greenyellow;
    grid-area: mainInput;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "extra extra extra operator"
        "number number number operator"
        "number number number operator"
        "number number number operator"
        "zeroRow zeroRow zeroRow operator";
}

.button {
    width: 88%;
    height: 88%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
    align-self: center;
    justify-self: center;
}

.extra {
    background-color: grey;
}

.operator {
    background-color: orange;
    color: white;
}

.number {
    background-color: rgb(70, 70, 70);
    color: white;
}

#numbers {
    grid-area: number;
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#zeroRow {
    grid-area: zeroRow;
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#zeroRow.button:not(.zero) {
    width: 29%;
}

.zero {
    width: 93%;
    border-radius: 100px;
    justify-content: flex-start;
    padding-left: 41px;
}

#operators {
    grid-area: operator;
    background-color: orchid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#extras {
    grid-area: extra;
    background-color: rosybrown;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}