@font-face {
    font-family: sanFran;
    src: url(./SF-UI-Display-Regular.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sanFran;
    font-size: 24px;
}

body {
    background-color: grey;
}

#display {
    grid-area: display;
    font-size: 5em;
    padding-right: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
}

#mainInput {
    grid-area: mainInput;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "extra extra extra operator"
        "number number number operator"
        "number number number operator"
        "number number number operator"
        "zeroRow zeroRow zeroRow operator";
}

.button {
    width: 89%;
    height: 81%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    align-self: center;
    justify-self: center;
}

.extra {
    background-color: grey;
}

.operator {
    background-color: orange;
    color: white;
}

.number {
    background-color: rgb(70, 70, 70);
    color: white;
}

.scientific {
    background-color: rgb(29 28 28);
    color: white;
    font-size: 1.2em;
}

#numbers {
    grid-area: number;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#zeroRow {
    grid-area: zeroRow;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#zeroRow.button:not(.zero) {
    width: 29%;
}

.zero {
    width: 93%;
    border-radius: 100px;
    justify-content: flex-start;
    padding-left: 41px;
}

#operators {
    grid-area: operator;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#extras {
    grid-area: extra;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#scientificInput {
    grid-area: sci;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#calculator {
    background-color: goldenrod;
    height: 700px;
    width: 1200px;
    padding: 0 26px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    background-color: black;
    grid-template-areas:
        "m m m m m m display display display display"
        "sci sci sci sci sci sci mainInput mainInput mainInput mainInput"
        "sci sci sci sci sci sci mainInput mainInput mainInput mainInput"
        "sci sci sci sci sci sci mainInput mainInput mainInput mainInput"
        "sci sci sci sci sci sci mainInput mainInput mainInput mainInput"
        "sci sci sci sci sci sci mainInput mainInput mainInput mainInput";
    grid-gap: 0.2rem;
}

@media only screen and (max-width: 1200px) {
    #calculator {
        width: 450px;
        padding: 13px;
        grid-template-columns: repeat(4, 1fr);
    
        grid-template-areas:
            "display display display display"
            "mainInput mainInput mainInput mainInput"
            "mainInput mainInput mainInput mainInput"
            "mainInput mainInput mainInput mainInput"
            "mainInput mainInput mainInput mainInput"
            "mainInput mainInput mainInput mainInput";
    }

    #scientificInput {
        display: none;
    }

    .button:not(.zero) {
        width: 88%;
        height: 88%;
        border-radius: 50%;
    }
}
